<template>
    <div id="overall">
        <div id="overall-div">
            <div>
                <div class="label">Overall</div>
                <div class="amount">{{ addComma(overall) }}</div>
                <div class="since">Since {{ overallSince }}</div>
            </div>
        </div>
        <div id="filter-cont"></div>
        <div id="tbl-cont">
            <OverallTableV1 :dataSet="dataSet"></OverallTableV1>
        </div>
        <div id="add-cont">
            <div id="add-button" @click="openAddEditModal = true"></div>
        </div>
        <transition name="meh">
            <AddEdit
                title="Add Record"
                main_btn="Add"
                type="add"
                v-if="openAddEditModal"
                @close="openAddEditModal = false"
                @return="returnHandle"
                :occurenceItems="occurenceItems"
            ></AddEdit>
        </transition>
    </div>
</template>

<script>
import router from "../router";
import $ from "jquery";
import OverallTableV1 from "@/components/OverallTableV1.vue";
import AddEdit from "@/components/AddEdit.vue";

export default {
    name: "overall",
    components: {
        OverallTableV1,
        AddEdit
    },
    beforeCreate(){
        this.$store.state.isPreloaded = false;
        this.$store.state.isLoggedIn = false;
    },
    created(){
        this.checkLogin()
        .then((response) => {
            if(!response.Status){
                this.removeToken();
                router.push({name: "login"});
                return;
            }

            return this.getOccurenceMasterData();
        })
        .then((result) => {
            return new Promise(resolve => {
                if(!result.Status){
                    if(result.Message == "Session expired"){
                        this.removeToken();
                        router.push({name: "login"});
                        return;
                    }

                    this.$store.state.preloaderMSG = result.Message;
                    return;
                }

                let occurenceData = JSON.parse(result.Message);
                occurenceData.forEach((row) => {
                    this.occurenceItems.push({
                        text: row.text,
                        value: row.id
                    });
                });
                resolve();
            });
        })
        .then(() => {
            this.onload();
        });
    },
    destroyed(){
    },
    data(){
        return {
            openAddEditModal: false,
            overallSince: "2015-10-28",
            dataSet: [],
            occurenceItems: []
        };
    },
    computed: {
        overall(){
            let amt = 0;

            this.dataSet.forEach((row) => {
                amt += parseFloat(row.amount);
            });

            return amt;
        }
    },
    methods: {
        onload(){
            this.$store.state.isPreloaded = true;
        },
        returnHandle(val){
            this.register({
                token:             this.getToken(),
                description:       val.description,
                amount:            val.amount,
                date:              val.selectedDate,
                occurence:         val.occurence,
                occurenceType:     val.occurenceActiveTab,
                untilDate:         val.untilDate,
                continueForDay:    val.continueForDay,
                continueForWeekly: val.continueForWeekly,
                continueForMonth:  val.continueForMonth,
                continueForYear:   val.continueForYear,
            }).then((result) => {
                return new Promise(resolve => {
                    let occText = this.occurenceText(val.occurence);
                    this.dataSet.unshift({
                        id:          result,
                        description: val.description,
                        amount:      val.amount,
                        date:        val.selectedDate,
                        occurence:   occText
                    });
                    resolve();
                });
            }).then(() => {
                this.openAddEditModal = false;
            });
        },
        getOccurenceMasterData(){
            return new Promise(resolve => {
                $.ajax(this.$store.state.hostServer + "api/public/occurence_master", {
                    method:   "POST",
                    dataType: "JSON",
                    data: {
                        token: this.getToken()
                    }
                })
                .done((response) => {
                    resolve(response);
                })
                .fail((xhr, status, error) => {
                    console.log(status);
                    console.log(error);
                });
            });
        },
        occurenceText(id){
            for(let i = 0; i < this.occurenceItems.length; i++){
                console.log(this.occurenceItems[i]);
                if(this.occurenceItems[i].value == id){
                    return this.occurenceItems[i].text;
                }
            }

            return "";
        },
        register(data){
            return new Promise(resolve => {
                $.ajax(this.$store.state.hostServer + "api/data/register", {
                    method: "POST",
                    data: data
                })
                .done((response) => {
                    resolve(response);
                });
            });
        }
    },
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');
$ralewayFont: 'Raleway', sans-serif;

.meh-enter-active, .meh-leave-active {
  transition: opacity .5s;
}
.meh-enter, .meh-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

#overall {
    // background-image: radial-gradient(circle at 50%, #eaefff, #d7e2ff);
    background-color: #f4f4f4;
    width: 100%;
    height: calc(100vh - 3.5rem);

    #overall-div {
        display: flex;
        justify-content: center;
        padding: 1em;

        > div {
            padding: 1em;
            font-family: $ralewayFont;
            min-width: 300px;
            background-color: white;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

            > div {
                &.label {
                    font-size: 1em;
                    margin-right: 0.5em;
                    text-align: left;
                }

                &.amount {
                    font-size: 2.3em;
                    font-weight: 600;
                    text-align: right;
                    color: #e74c3c;
                }

                &.since {
                    font-size: 0.8em;
                    font-weight: 400;
                    text-align: right;
                }
            }
        }
    }

    #tbl-cont {
        padding: 1em;
    }

    #add-cont {
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));

        #add-button {
            display: inline-block;
            width: 50px;
            height: 50px;
            background-image: url("../assets/img/add_icon.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
                background-image: url("../assets/img/add_icon_hover.svg");
                cursor: pointer;
            }
        }
    }
}

@media only screen and (min-width: 400px) {
    #overall {
        #overall-div {
            justify-content: flex-end;
        }
    }
}
</style>
