<template>
    <div id="wrapper">
        <div id="container">
            <div>PAGE</div>
            <div>NOT</div>
            <div>FOUND</div>
        </div>
    </div>
</template>

<script>
import router from '../router'

export default {
    created: function(){
        this.$store.state.isPreloaded = true;
        this.$store.state.isLoggedIn = false;
    },
    data(){
        return {
        };
    },
    methods: {
    }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');
$nosiferFont: 'Nosifer', cursive;

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#wrapper {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle at 50%, #003869, #000725);

    #container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $nosiferFont;
        color: #a20000;
        font-size: 3em;
        text-shadow: 1px 1px 5px black;

        div {
            opacity: 1;

            &:nth-child(1) {
                animation-name: blink;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }

            &:nth-child(2) {
                animation-name: blink;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-delay: 200ms;
            }

            &:nth-child(3) {
                animation-name: blink;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-delay: 400ms;
            }
        }
    }
}
</style>
