<template>
    <div id="login-wrapper">
        <Preloader v-if="!this.$store.state.isPreloaded"></Preloader>
        <div id="login-container" :class="[!this.$store.state.isPreloaded ? 'hide' : '']">
            <div id="logo"></div>
            <h1 id="comp-name">REGISTER</h1>
            <div id="username-div">
                <label for="username">Username</label>
            </div>
            <div>
                <input type="text" v-model="username" class="">
            </div>
            <div id="email-div">
                <label for="email">Email Address</label>
            </div>
            <div>
                <input type="text" v-model="email" class="">
            </div>
            <div id="password-div">
                <label for="password">Password</label>
            </div>
            <div>
                <input type="password" v-model="password" class="">
            </div>
            <div id="error-msg-wrp">
                <span id="error-msg">{{ error_msg }}</span>
            </div>
            <div id="submit-div">
                <button @click="registerUser">Submit</button>
            </div>
            <div id="login-div">
                <router-link to="/login">Already have an account</router-link>
            </div>
        </div>
    </div>
</template>

<script>
import router from '../router'
import $ from "jquery";
import Preloader from "@/components/Preloader.vue";

export default {
    components: {
        Preloader
    },
    beforeCreate(){
        this.$store.state.isPreloaded = false;
        this.$store.state.isLoggedIn = false;
    },
    created: function(){
        this.checkLogin().then((response) => {
            if(response.Status){
                router.push({name: "summary"});
                return;
            }

            this.removeToken();
            this.$store.state.isPreloaded = true;
        });
    },
    data(){
        return {
            username: "",
            password: "",
            email: "",
            error_msg: ""
        };
    },
    methods: {
        registerUser(){
            var fd = new FormData();
            fd.append("username", this.username);
            fd.append("password", this.password);
            fd.append("email", this.email);

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = () => {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var response = JSON.parse(xmlhttp.responseText);

                    if(response.Status){
                        router.push({name: "login"});
                        return;
                    }

                    this.error_msg = response.Message;
                }
            };
            xmlhttp.open("POST", this.$store.state.hostServer + "api/register");
            xmlhttp.send(fd);
        }
    }
}
</script>

<style lang="scss">
#login-wrapper {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #335768, #153442);
    position: relative;
    
    #login-container {
        width: 90%;
        padding: 3em 2em;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 650px;

        input {
            font-size: 1.1em;
            width: 100%;
            padding: 0.3em;
            border-radius: 0.3em;
            background-color: white;
        }

        label {
            font-size: 1.3em;
            color: white;
        }

        #logo {
            height: 4em;
            background-image: url("../assets/logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        #comp-name {
            margin: 0;
            color: white;
            font-weight: 200;
            letter-spacing: 0.3em;
            text-align: center;
        }

        #username-div,
        #password-div,
        #email-div {
            margin-top: 1.5em;
            text-align: left;
        }

        #submit-div {
            margin-top: 1.5em;

            button {
                width: 100%;
                font-size: 1.2em;
                outline: none;
                border: none;
                background-image: linear-gradient(rgb(87, 187, 154), rgb(22, 129, 106));
                padding: 0.5em;
                color: white;
                cursor: pointer;
                border-radius: 2em;
            }
        }

        #login-div {
            margin-top: 1.5em;
            text-align: center;

            a {
                color: #00ffe7;
                text-decoration: none;
                cursor: pointer;
                font-size: 1.2em;
                
                &:active,
                &:visited {
                    color: #00ffe7;
                    text-decoration: none;
                }
            }
        }

        #error-msg-wrp {
            text-align: center;
            margin-top: 1.5em;
            height: 1em;

            #error-msg {
                color: rgb(255, 65, 65);
                font-style: italic;
            }
        }
    }
}
</style>
