<template>
    <div id="summary-container" class="home">
        <div id="content" :class="[!this.$store.state.isPreloaded ? 'hide' : '']">
            <div id="yearly_chart_div" style="width: 100%; height: 500px;"></div>
            <div id="monthly_chart_div" style="width: 100%; height: 500px;"></div>
            <h1>Recent Expenses</h1>
            <SummaryRecentTableV1 :dataset="recentDataSet"></SummaryRecentTableV1>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import router from "../router";
import $ from "jquery";
import SummaryRecentTableV1 from "@/components/SummaryRecentTableV1.vue";

export default {
    name: "summary",
    components: {
        SummaryRecentTableV1
    },
    beforeCreate(){
        this.$store.state.isPreloaded = false;
        this.$store.state.isLoggedIn = false;
    },
    created(){
        window.addEventListener("resize", this.resizeEvent);

        this.checkLogin().then((response) => {
            if(!response.Status){
                this.removeToken();
                router.push({name: "login"});
                return;
            }

            this.onload();
        });
    },
    destroyed(){
        window.removeEventListener("resize", this.resizeEvent);
    },
    data(){
        return {
            sidebarOpened: false,
            yearlyChartOption: {
                chart: {
                    'title':    'Yearly Expenses',
                    'subtitle': 'This is your expenses for the past years'
                },
                bars: 'vertical',
                fontName: 'Montserrat',
                legend: {
                    position: 'right'
                },
            },
            monthlyChartOption: {
                chart: {
                    'title':    'Monthly Expenses',
                    'subtitle': 'This is your expenses for the past months'
                },
                bars: 'vertical',
                fontName: 'Montserrat',
                legend: {
                    position: 'right'
                },
            },
            recentDataSet: [
                {
                    "id":          1,
                    "description": "TEST1",
                    "amount":      "10000",
                    "date":        "2018-10-28",
                    "occurence":   "Monthly"
                },{
                    "id":          2,
                    "description": "TEST2",
                    "amount":      "20000",
                    "date":        "2018-10-29",
                    "occurence":   "Monthly"
                },{
                    "id":          3,
                    "description": "TEST3",
                    "amount":      "30000",
                    "date":        "2018-10-30",
                    "occurence":   "Yearly"
                },{
                    "id":          4,
                    "description": "TEST4",
                    "amount":      "40000",
                    "date":        "2018-10-31",
                    "occurence":   "Yearly"
                }
            ]
        };
    },
    methods: {
        sidebarToggle(){
            this.sidebarOpened = true;
        },
        closeSidebar(){
            this.sidebarOpened = false;
        },
        onload(){
            if(window.innerWidth < 720){
                this.yearlyChartOption.legend.position = "none";
                this.monthlyChartOption.legend.position = "none";
            }

            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(this.drawChartYearly);
            google.charts.setOnLoadCallback(this.drawChartMonthly);
            
            this.$store.state.isPreloaded = true;
        },
        drawChartYearly(){
            var data = google.visualization.arrayToDataTable([
                ['Years',  'Expenses', 'Earnings'],
                ['2015', 160000, 216000],
                ['2016', 200000, 216000],
                ['2017', 180000, 216000],
                ['2018', 210000, 216000],
                ['2019', 210500, 216000],
            ]);

            var chart = new google.charts.Bar(document.getElementById('yearly_chart_div'));
            chart.draw(data, google.charts.Bar.convertOptions(this.yearlyChartOption));
        },
        drawChartMonthly(){
            var data = google.visualization.arrayToDataTable([
                ['Month',  'Expenses', 'Earnings'],
                ['Jun', 160000, 216000],
                ['Jul', 200000, 216000],
                ['Aug', 180000, 216000],
                ['Sep', 210000, 216000],
                ['Oct', 210500, 216000],
            ]);

            var chart = new google.charts.Bar(document.getElementById('monthly_chart_div'));
            chart.draw(data, google.charts.Bar.convertOptions(this.monthlyChartOption));
        },
        async resizeEvent(ev){
            await new Promise(resolve => {
                if(ev.target.window.screen.width > 719){
                    this.yearlyChartOption.legend.position = "right";
                    this.monthlyChartOption.legend.position = "right";
                }else{
                    this.yearlyChartOption.legend.position = "none";
                    this.monthlyChartOption.legend.position = "none";
                }

                this.drawChartYearly();
                this.drawChartMonthly();
                resolve();
            });
        },
    },
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
$montserratFont: 'Montserrat', sans-serif;

#summary-container {
    #content {
        padding: 0 0.5em;

        > h1 {
            font-family: $montserratFont;
            font-weight: 400;
            font-size: 1.3em;
            text-align: left;
            padding: 0.6em;
            background-image: linear-gradient(#55a5ff, #1f87ff);
            color: white;
        }

        > #yearly_chart_div {
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }
}


@media only screen and (min-width: 720px) {
    #summary-container {
        #content {
            padding: 0 2em;
        }
    }
}
</style>
