<template>
    <v-app>
        <div id="add-edit">
            <div id="ae-container">
                <div class="close-icon" @click="close"></div>
                <div id="ae-header">{{ title }}</div>
                <div id="ae-body">
                    <div class="ae-label">Description</div>
                    <div class="ae-input">
                        <v-text-field
                            dense
                            @keyup="description = $event.target.value"
                        >
                        </v-text-field>
                    </div>
                    <div class="ae-label">Amount</div>
                    <div class="ae-input">
                        <v-text-field
                            dense
                            @keyup="keyupAmount"
                            :error-messages="amountError"
                            :value="amount"
                            @focusout="amount = addComma($event.target.value)"
                        >
                        </v-text-field>
                    </div>
                    <div class="ae-label">Date (YYYY/mm/dd)</div>
                    <div class="ae-input">
                        <Datepicker :value="selectedDate" @changed="updateSelectedDate"></Datepicker>
                    </div>
                    <div class="ae-label">Reccurence</div>
                    <div class="ae-input">
                        <v-select
                            dense
                            :items="occurenceItems"
                            @change="occurenceChange"
                            :value="occurence"
                        >
                        </v-select>
                    </div>
                    <div v-if="occurence > 1" class="ae-input">
                        <v-tabs grow dark background-color="rgb(43, 20, 191)" height="2em" :value="occurenceActiveTab">
                            <v-tabs-slider color="rgb(0, 150, 136)"></v-tabs-slider>
                            <v-tab href="#confor">Continue for</v-tab>
                            <v-tab href="#until">Until</v-tab>
                            <v-tab-item value="confor">
                                <div id="intervals-div">
                                    <div v-if="occurence == 2 || occurence == 3">
                                        <v-text-field dense type="number" v-if="occurence == 2" :value="continueForDay" label="Day/s"></v-text-field>
                                        <v-text-field dense type="number" v-if="occurence == 3" :value="continueForWeekly" label="Week/s"></v-text-field>
                                    </div>
                                    <div v-if="occurence < 5">
                                        <v-text-field dense type="number" :value="continueForMonth" label="Month/s"></v-text-field>
                                    </div>
                                    <div>
                                        <v-text-field dense type="number" :value="continueForYear" label="Year/s"></v-text-field>
                                    </div>
                                </div>
                            </v-tab-item>
                            <v-tab-item value="until">
                                <div>
                                    <Datepicker :value="untilDate" @changed="updateUntilDate"></Datepicker>
                                </div>
                            </v-tab-item>
                        </v-tabs>
                    </div>
                </div>
                <div id="ae-footer">
                    <v-btn dark color="rgb(0, 50, 255)" @click="returnValue">{{ main_btn }}</v-btn>
                    &nbsp;
                    <v-btn dark color="rgb(255, 0, 0)" @click="clear">Clear</v-btn>
                </div>
            </div>
        </div>
    </v-app>
</template>

<script>
import Datepicker from "@/components/Datepicker.vue";

export default {
    name: "AddEdit",
    props: ["title", "main_btn", "type", "occurenceItems"],
    components: {
        Datepicker
    },
    mounted(){
        let currentDate = new Date();
        this.selectedDate = currentDate.toISOString().substr(0, 10);

        currentDate.setDate(currentDate.getDate() + 1);
        this.untilDate = currentDate.toISOString().substr(0, 10);
    },
    data(){
        return {
            description:  "",
            amount:       "",
            selectedDate: null,
            occurence:    1,

            occurenceActiveTab: "confor", // until || confor
            untilDate:         null,
            continueForDay:    0,
            continueForWeekly: 0,
            continueForMonth:  0,
            continueForYear:   0,

            menu:         false,
            amountError:  "",
        };
    },
    methods: {
        close(){
            this.$emit("close", true);
        },
        updateSelectedDate(val){
            this.selectedDate = val;
        },
        async keyupAmount(ev){
            await new Promise(resolve => {
                let val = this.rmvComma(ev.target.value);
                this.amountError = "";
                
                if(val.trim() == ""){
                    this.amountError = "This field is required";
                    resolve();
                    return;
                }

                if(isNaN(val)){
                    this.amountError = "Invalid amount";
                    resolve();
                    return;
                }

                this.amount = val;
                resolve();
            });
        },
        occurenceChange(val){
            this.occurence = val;
        },
        clear(){
            this.description  = "";
            this.amount       = "";
            this.selectedDate = new Date().toISOString().substr(0, 10);
            this.occurence    = 1;
        },
        returnValue(){
            switch(this.occurenceActiveTab){
                case "until":
                    this.continueForDay    = 0;
                    this.continueForWeekly = 0;
                    this.continueForMonth  = 0;
                    this.continueForYear   = 0;
                    break;
                case "confor":
                    this.untilDate = "";
                    break;
                default:
                    this.continueForDay    = 0;
                    this.continueForWeekly = 0;
                    this.continueForMonth  = 0;
                    this.continueForYear   = 0;
                    this.untilDate         = "";
                    break;
            }

            this.$emit("return", {
                type:               this.type,
                description:        this.description,
                amount:             this.rmvComma(this.amount),
                selectedDate:       this.selectedDate,
                occurence:          this.occurence,
                occurenceActiveTab: this.occurenceActiveTab,
                untilDate:          this.untilDate,
                continueForDay:     this.continueForDay,
                continueForWeekly:  this.continueForWeekly,
                continueForMonth:   this.continueForMonth,
                continueForYear:    this.continueForYear,
            });
        },
        updateUntilDate(val){
            this.untilDate = val;
        }
    }
};
</script>

<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');
$ralewayFont: 'Raleway', sans-serif;

#add-edit {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    font-family: $ralewayFont;

    #ae-container {
        background-color: white;
        position: absolute;
        top: 1em;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 1.5em);
        max-width: 400px;
        margin-bottom: 1em;

        > .close-icon {
            width: 1.5em;
            height: 1.5em;
            background-image: url("../assets/img/close_icon.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));

            &:hover {
                background-image: url("../assets/img/close_icon_hover.svg");
                cursor: pointer;
            }
        }
        
        #ae-header {
            padding: 1em;
            font-size: 1.1em;
            font-weight: 600;
        }

        #ae-body {
            padding-bottom: 0.5em;

            > .ae-label {
                margin-bottom: 0.1em;
                font-size: 0.9em;
                text-align: left;
                padding: 0 1em;
            }

            > .ae-input {
                margin-bottom: 0.5em;
                text-align: left;
                padding: 0 1em;

                input {
                    width: 100%;
                    padding: 0.3em;
                }

                #intervals-div {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1em;

                    > div {
                        padding: 0 0.5em;
                    }
                }
            }
        }

        #ae-footer {
            padding-bottom: 1em;
        }
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
