<template>
    <v-dialog
        ref="dialog"
        v-model="modal"
        :return-value.sync="date"
        persistent
        width="290px"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                v-model="date"
                readonly
                v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker v-model="date" scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
            <v-btn text color="primary" @click="change()">OK</v-btn>
        </v-date-picker>
    </v-dialog>
</template>

<script>
export default {
    props: ["value"],
    data(){
        return {
            date: this.value,
            modal: false,
        };
    },
    watch: {
        value(newValue, oldValue){
            this.date = newValue;
        }
    },
    methods: {
        change(){
            this.$refs.dialog.save(this.date);
            this.$emit("changed", this.date);
        }
    }
}
</script>
