<template>
    <div id="dimBG" @click="closeSidebar" :class="[ opened ? 'show' : 'hide' ]"></div>
</template>

<script>
export default {
    name: "DimBG",
    props: ["opened"],
    data(){
        return {
        };
    },
    methods: {
        closeSidebar(){
            this.$emit("sidebarClosed", false);
        }
    }
}
</script>

<style lang="scss">
#dimBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -100;
    opacity: 0;

    &.show {
        transition: opacity 200ms ease-in-out;
        opacity: 1;
        z-index: 101;
    }

    &.hide {
        transition: opacity 200ms ease-in-out;
        opacity: 0;
        z-index: -100;
    }
}
</style>
