<template>
    <div id="oa-tbl">
        <div v-if="hasData">
            <div v-for="row in dataSet" v-bind:key="row.id" class="oa-row" @click="mobileClick">
                <div class="description">{{ row.description }}</div>
                <div class="details">
                    <div class="amount">{{ addComma(row.amount) }}</div>
                    <div class="date">{{ row.date }}</div>
                    <div class="occurence">{{ row.occurence }}</div>
                    <div class="edit"></div>
                </div>
            </div>
        </div>
        <div v-else style="padding: 1em;">No data yet</div>
    </div>
</template>

<script>
export default {
    props: ["dataSet"],
    data(){
        return {
        };
    },
    created(){
    },
    mounted(){
    },
    computed: {
        hasData(){
            return this.dataSet.length > 0;
        }
    },
    methods: {
        async mobileClick(ev){
            await new Promise(resolve => {
                if(window.screen.width > 649){
                    resolve();
                    return;
                }

                resolve();
            });
        }
    }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');
$ralewayFont: 'Raleway', sans-serif;

#oa-tbl {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    font-family: $ralewayFont;

    .oa-row {
        padding: 0.5em 1em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;

        &:hover {
            background-color: rgba(34, 78, 161, 0.2);
        }

        &:last-child {
            border-bottom: none;
        }

        > div {
            text-align: left;

            &.description {
                font-weight: 600;
            }

            &.details {
                display: flex;
                font-size: 0.9em;

                > .amount {
                    font-weight: 600;
                    color: #e74c3c;
                    flex-grow: 1;
                    flex-shrink: 1;
                }

                > .date {
                    width: 7em;
                    text-align: center;
                }

                > .occurence {
                    width: 6em;
                    text-align: center;
                }

                > .edit {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 650px) {
    #oa-tbl {
        .oa-row {
            display: flex;

            &:hover {
                background-color: transparent;
            }

            > div {
                &.description {
                    flex-grow: 1;
                    flex-shrink: 1;
                }

                &.details {
                    font-size: 1em;

                    > .amount {
                        flex-grow: 0;
                        flex-shrink: 0;
                        width: 7em;
                        text-align: right;
                    }

                    > .edit {
                        display: block;
                        width: 2em;
                        height: 100%;
                        background-image: url("../assets/img/edit_icon.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;

                        &:hover {
                            background-image: url("../assets/img/edit_icon_hover.svg");
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
</style>
