<template>
    <div id="preload-wrapper">
        <div id="container">
            <div id="static">LOADING</div>
            <div id="message">{{ message }}</div>
        </div>
    </div>
</template>

<script>
import router from "../router";
import $ from "jquery";

export default {
    props: ["message"],
    created(){
    },
    data(){
        return {
        };
    },
    methods: {
    }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

$righteousFont: 'Righteous', cursive;
$animName: blink;
$animDur: 2s;
$animCount: infinite;

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#preload-wrapper {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle at 50%, #1d2e6b, #00051f);
    position: relative;
    z-index: 1000;

    #container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        color: white;
        font-family: $righteousFont;
        text-shadow: 5px 5px 5px #00051f;
        animation-name: $animName;
        animation-duration: $animDur;
        animation-iteration-count: $animCount;

        #static {
            font-size: 3em;
        }

        #message {
            font-size: 1.2em;
            color: #129cff;
        }
    }
}
</style>
