<template>
    <div id="sidebar" :class="[ opened == true ? 'show' : 'hide' ]" @click="sidebarClick">
        <div id="sb-logo">
            <div></div>
            <h1>SOMETHING</h1>
        </div>
        <ul>
            <li @click="navClick('summary')" :class="[ activePage == 'summary' ? 'active' : '' ]">
                <span class="nav-icon summary-icon"></span>
                <router-link to="/">Summary</router-link>
            </li>
            <li @click="navClick('overall')" :class="[ activePage == 'overall' ? 'active' : '' ]">
                <span class="nav-icon overall-icon"></span>
                <router-link to="/overall">Overall</router-link>
            </li>
            <li @click="navClick('account')" :class="[ activePage == 'account' ? 'active' : '' ]">
                <span class="nav-icon account-icon"></span>
                <router-link to="/account">Account</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
import router from "../router";

export default {
    name: "Sidebar",
    props: ['opened'],
    created(){
    },
    data(){
        return {
            activePage: "summary",
        };
    },
    methods: {
        navClick(arg){
            this.activePage = arg;
            this.close();
        },
        sidebarClick(ev){
            // Sidebar close
            if(ev.clientX > 300){
                this.close();
            }
        },
        close(){
            this.$emit("close", true);
        }
    },
    computed: {
        isActive(s){
            if(this.activePage == s){
                return "active";
            }
            return "";
        }
    }
};
</script>

<style lang="scss">
$sidebarWidth: 300px;

@mixin navIcon($img) {
    background-image: url($img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sidebar {
    background-image: linear-gradient(90deg, #21496D, #336EA4);
    width: $sidebarWidth;
    height: 100vh;
    z-index: 102;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
    transform: translateX(-100%);

    &.show {
        transition: transform 200ms ease-out;
        transform: translateX(0%);

        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1000%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            transform: translateX($sidebarWidth);
        }
    }

    &.hide {
        transition: transform 200ms ease-in;
        transform: translateX(-100%);
    }

    #sb-logo {
        height: 3.5rem;
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        
        div {
            height: 3.5rem;
            width: 3.5rem;
            background-image: url("../assets/logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left;
            transform: scale(.5);
        }

        h1 {
            line-height: 3.5rem;
            margin: 0;
            padding: 0;
            color: white;
            font-weight: 200;
            font-size: 1em;
            letter-spacing: 0.4em;
        }
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            text-align: left;
            position: relative;

            &.active,
            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.5);
            }

            .nav-icon {
                display: inline-block;
                width: 30px;
                height: 30px;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(10px, -50%);

                &.summary-icon {
                    @include navIcon("../assets/img/summary_icon.svg");
                }

                &.overall-icon {
                    @include navIcon("../assets/img/overall_icon.svg");
                }

                &.account-icon {
                    @include navIcon("../assets/img/account_icon.svg");
                }
            }

            a {
                color: white;
                font-size: 1.3em;
                text-decoration: none;
                text-align: left;
                display: block;
                padding: 0.5em 0 0.5em 2.5em;
            }
        }
    }
}

@media only screen and (min-width: 500px) {
    #sidebar {
        transform: translateX(0%);
    }
}
</style>