<template>
    <div id="recent-v1">
        <div v-for="row in dataset" v-bind:key="row.id" class="rc-row">
            <div class="description">{{ row.description }}</div>
            <div class="row-det">
                <div class="amount">{{ addComma(row.amount) }}</div>
                <div class="date">{{ row.date }}</div>
                <div class="occurence">{{ row.occurence }}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["dataset"],
    methods: {
    }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
$montserratFont: 'Montserrat', sans-serif;

#recent-v1 {
    margin-bottom: 2em;

    .rc-row {
        border-bottom: 1px solid #CCC;
        padding: 0.3em 0;
        font-family: $montserratFont;

        > div {
            text-align: left;
            font-weight: 600;
            color: rgb(77, 77, 77);

            &.row-det {
                display: flex;

                > div {
                    font-size: 0.9em;

                    &.amount {
                        text-align: left;
                        flex-grow: 1;
                        flex-shrink: 1;
                        font-weight: 400;
                    }
                    &.date {
                        text-align: center;
                        width: 7em;
                        font-weight: 400;
                    }
                    &.occurence {
                        text-align: center;
                        width: 7em;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 500px) {
    #recent-v1 {
        .rc-row {
            display: flex;

            > div {
                &.description {
                    flex-grow: 1;
                    flex-shrink: 1;
                }

                &.row-det {
                    > div {
                        &.amount {
                            text-align: right;
                            width: 7em;
                            font-weight: 400;
                        }
                        &.date {
                            text-align: center;
                            width: 7em;
                            font-weight: 400;
                        }
                        &.occurence {
                            text-align: center;
                            width: 7em;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 700px) {
    #recent-v1 {
        .rc-row {
            display: flex;

            > div {
                &.description {
                    font-size: 1.1em;
                }

                &.row-det {
                    > div {
                        font-size: 1em;

                        &.amount {
                            width: 10em;
                        }
                        &.date {
                            width: 10em;
                        }
                        &.occurence {
                            width: 7em;
                        }
                    }
                }
            }
        }
    }
}
</style>
