<template>
    <div id="topnav">
        <div id="sidebar-toggle" @click="sidebarOpen"></div>
    </div>
</template>

<script>
export default {
    name: "TopNavigation",
    methods: {
        sidebarOpen(){
            this.$emit("sidebarToggled", true);
        }
    },
    computed: {
        isLoggedIn(){
            return this.$store.state.isLoggedIn;
        }
    }
};
</script>

<style lang="scss">
$navHeight: 3.5rem;

#topnav {
    background-color: rgb(34, 78, 161);
    height: $navHeight;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 100;

    #sidebar-toggle {
        height: $navHeight;
        width: $navHeight;
        background-image: url("../assets/img/toggle_icon.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(0.5) scaleX(-1);
        cursor: pointer;
    }
}
</style>