<template>
    <div id="app">
        <Preloader v-if="!this.$store.state.isPreloaded" :message="this.$store.state.preloaderMSG"></Preloader>
        <TopNav v-if="this.$store.state.isLoggedIn" @sidebarToggled="sidebarOpened = $event"></TopNav>
        <Sidebar :opened="sidebarOpened" @close="closeSidebar"></Sidebar>
        <router-view />
    </div>
</template>

<script>
import Preloader from "@/components/Preloader.vue";
import TopNav from '@/components/TopNavigation.vue'
import Sidebar from '@/components/Sidebar.vue'

export default {
    components: {
        Preloader,
        TopNav,
        Sidebar
    },
    data(){
        return {
            sidebarOpened: false
        };
    },
    created(){
        console.log("HELLO FROM ME!!!");
    },
    computed: {
    },
    methods: {
        closeSidebar(){
            this.sidebarOpened = false;
        }
    }
}
</script>

<style lang="scss">
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}
</style>
